{{- if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ .Site.Title | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "description": {{ .Site.Params.description | jsonify }},
  "inLanguage": {{ cond (eq .Lang "zh") "zh-CN" "en-US" | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Yousa Li",
    "url": {{ .Site.BaseURL | jsonify }}
  }
}
</script>
{{- else if and .IsPage (eq .Section "posts") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "description": {{ .Description | default .Summary | plainify | truncate 160 | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05-07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Yousa Li",
    "url": {{ .Site.BaseURL | jsonify }}
  },
  "publisher": {
    "@type": "Person",
    "name": "Yousa Li"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  "inLanguage": {{ cond (eq .Lang "zh") "zh-CN" "en-US" | jsonify }},
  "wordCount": {{ .WordCount }}
  {{- with .Params.tags }},
  "keywords": {{ . | jsonify }}
  {{- end }}
}
</script>
{{- end }}
