{{- if .IsHome -}}
{{- $author := dict "@type" "Person" "name" "Yousa Li" "url" .Site.BaseURL -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "WebSite" "name" .Site.Title "url" .Site.BaseURL "description" .Site.Params.description "inLanguage" (cond (eq .Lang "zh") "zh-CN" "en-US") "author" $author -}}
<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
{{- else if and .IsPage (eq .Section "posts") -}}
{{- $author := dict "@type" "Person" "name" "Yousa Li" "url" .Site.BaseURL -}}
{{- $publisher := dict "@type" "Person" "name" "Yousa Li" -}}
{{- $mainEntity := dict "@type" "WebPage" "@id" .Permalink -}}
{{- $desc := .Description | default (.Summary | plainify | truncate 160) -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "Article" "headline" .Title "description" $desc "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00") "author" $author "publisher" $publisher "mainEntityOfPage" $mainEntity "inLanguage" (cond (eq .Lang "zh") "zh-CN" "en-US") "wordCount" .WordCount -}}
{{- with .Params.tags -}}
{{- $schema = merge $schema (dict "keywords" .) -}}
{{- end -}}
<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
{{- end -}}
